* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", sans-serif;
	color: #2D2928;
	background-color: #EEBE7D;
}


header {
	height: 150px;
	background-color: #1C5A8E;
	text-align: center;
	border-radius: 5px;
	display: block;
	width: 100%;
	position: relative;

}

header h1 {
	font-size: 50px;
	font-weight: bolder;
	margin-right: auto;
	margin-left: auto;
}

header h2 {
	font-size: 25px;
	font-style: italic;
	color: #736F6E;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

nav {
	background-color: #DD8C1E;
	border-radius: 5px;
	width: 100%;
	margin: auto;
	text-align: center;
	font-style: italic;
	position: absolute;
	bottom: 0;

}

nav ul li {
	display: inline-block;
	width: 15%;
	height: 30px;
}

a {
	text-decoration: none;
	color: black;
	display: block;
}

nav ul li:hover {
	background-color: #2A4E6C;
}

img {
	float: right;
	display: block;
	height: 50%;
	width: 45%;
	border: 2px solid black;
	border-radius: 5px;
	margin-top: 100px;
	margin-right: 20px;
}

#Body {
	float: left;
	display: block;
	width: 45%;
	position: relative;
	padding-top: 30px;
	padding-left: 20px;
}

h2 {
	text-align: center;
}