* {
	margin: 0;
	padding: 0;
	color: #4F4F4F;
}

span {
	color: #6DB0FC;
}

header {
	margin-bottom: 30px;
	padding-bottom: 7px;
	border-bottom: 1px solid #4F4F4F;
	margin-top: 15px;
	height: 220px;
	position: relative;
}

body {
	font-family: "Quicksand", sans-serif;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: justify;
}

#headshot {
	float: right;

}

#name {
	font-size: 40px;
	font-weight: bold;
	float: left;
}

h2 {
	font-size: 20px;
	word-spacing: 5px;
	letter-spacing: 2px;
	float: left;
	line-height: 1.45em;
	width: 40%;
}

h2:hover {
	margin-left: 20px;
}

nav {
	margin-top: 8px;
	text-align: center;
	font-style: italic;
	word-spacing: 3px;
	letter-spacing: 2px;
	float: right;
	color: #4F4F4F;
	background-color: white;
}

.clear {
	clear: both;
}

nav ul li {
	display: inline-block;
	float: left;
	list-style: none;
	padding: 10px 9px;
}

nav a {
	text-decoration: none;
	display: block;
}

#dropdown {
	display: none;
	position: absolute;
	width: 12%;
}

nav li:hover #dropdown {
	display: block;
	position: absolute;
	background-color: white;
}

nav li:hover #dropdown li {
	display: block;
	position: relative;
	text-align: left;
	background-color: white;
}

#dropdown li:hover {
	font-weight: bold;
	color: #6DB0FC;
}

nav ul li a:hover {
	font-weight: bold;
	color: #6DB0FC;
}

section {
	margin-top: 25px;
}

h3 {
	margin-bottom: 15px;
	font-size: 25px;
}

p {
	margin-bottom: 12px;
	line-height: 22px;
}

#Thailand {
	margin-top: 50px;
}

#Thailand ul li {
	list-style: none;
	display: inline;
	float: left;
	margin: 5px 9px;
}

#Thailand img {
	border: 3px;
	border-style: outset;
}

#Thailand img:hover {
	border-style: inset;
}

#Thailand h3 {
	margin-left: 20px;
}

.lightboxContainer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 99;
	opacity: .6;
}

.lightbox {
	position: fixed;
	z-index: 100;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}