* {
	margin: 0;
	padding: 0;
	color: #4F4F4F;
}

span {
	color: #6DB0FC;
}

.divIcon {
	position: absolute;
	margin-top: 13px;
	margin-left: 965px;
}

.icons {
	display: block;
	margin-bottom: 13px;
}

header {
	margin-bottom: 30px;
	padding-bottom: 7px;
	border-bottom: 1px solid #4F4F4F;
	margin-top: 15px;
	height: 220px;
	position: relative;
}

body {
	font-family: "Quicksand", sans-serif;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: justify;
}

#top, #bottom {
	position: absolute;
	right: 0px;
	-webkit-transition: opacity 5s ease-in-out;
	-moz-transition: opacity 5s ease-in-out;
	-o-transition: opacity 5s ease-in-out;
	transition: opacity 5s ease-in-out;
}

@keyframes FadeInOut {
	0% {opacity:1;}
	45% {opacity:1;}
	55% {opacity:0;}
	100% {opacity:0;}
}

@-webkit-keyframes FadeInOut {
	0% {opacity:1;}
	45% {opacity:1;}
	55% {opacity:0;}
	100% {opacity:0;}
}

#top {
	animation-name: FadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-direction: alternate;
}

#bottom {
	-webkit-animation-name: FadeInOut;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 10s;
	-webkit-animation-direction: alternate;
}

#name {
	font-size: 40px;
	font-weight: bold;
	float: left;
	width: 100%;
}

h2 {
	font-size: 20px;
	word-spacing: 5px;
	letter-spacing: 2px;
	float: left;
	line-height: 1.45em;
	width: 100%;
}

h2:hover {
	margin-left: 20px;
}

nav {
	font-size: 18px;
	margin-top: 15px;
	text-align: center;
	font-style: italic;
	word-spacing: 3px;
	letter-spacing: 2px;
	float: right;
	color: #4F4F4F;
	font-weight: bold;
	background-color: white;
}

.clear {
	clear: both;
}

nav ul li {
	display: inline-block;
	float: left;
	list-style: none;
	margin-left: 48px;
}

nav a {
	text-decoration: none;
	display: block;
}

#dropdown {
	display: none;
	position: absolute;
	width: 20%;
	border: 1px solid black;
}

nav li:hover #dropdown {
	display: block;
	position: absolute;
	background-color: white;
}

nav li:hover #dropdown li {
	display: block;
	text-align: left;
	background-color: white;
}

nav ul li:hover, nav ul li:hover a {
	border-bottom: 1px solid #6DB0FC;
	color: #6DB0FC;
}

section {
	margin-top: 25px;
}

h3 {
	margin-top: 15px;
	font-size: 25px;
	margin-left: 15px;

}

p {
	margin-bottom: 12px;
	line-height: 22px;
	margin-top: 12px;
}

.lightboxTrigger img {
	float: left;
	border: 4px solid #4F4F4F;
	margin: 5px 5px 5px 0px;
}

.lightboxContainer {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background: rgba(79, 79, 79, .7);
	z-index: 100;
}

.lightbox {
	position: relative;
	text-align: center;
	width: 100%;
	margin-top: 6%;
}

.lightbox img {
	position: relative;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid white;
}

.hidden {
	display: none;
}