* {
	margin: 0;
	padding: 0;
}

header {
	margin-bottom: 30px;
	padding-bottom: 7px;
	border-bottom: 1px solid black;
	margin-top: 15px;
	height: 220px;
	position: relative;
}

body {
	font-family: "Quicksand", sans-serif;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#headshot {
	display: inline;
	position: absolute;
	right: 0px;
	top: 0px;
}

#name {
	font-size: 40px;
	font-weight: bold;
	position: relative;
	display: block;
	left: 0px;
}

#first {
	display: inline;
	width: 50%;
	left:0px;
	text-align: left;
}

#last {
	display: inline;
	width: 50%;
	right:0px;
	text-align: right;
}

h2 {
	position: absolute;
	bottom: 15px;
	left: 20px;
	font-size: 20px;
	text-align: left;
	width: 40%;
	display: inline-block;
	word-spacing: 5px;
	letter-spacing: 2px;
}

nav {
	position: absolute;
	text-align: center;
	font-style: italic;
	display: inline-block;
	word-spacing: 3px;
	letter-spacing: 2px;
	right: 10px;
	bottom: -30px;
}

nav ul li {
	display: inline-block;
	padding: 5px;
}

a {
	text-decoration: none;
	color: black;
	display: block;
}

section {
	margin-top: 25px;
}

h3 {
	margin-bottom: 15px;
	font-size: 25px;
}